doctype html
html(lang="zh-cn")
	head
		meta(charset="UTF-8")
		block title
			title EMW2015 
		
		block css
			link(rel="stylesheet",href="assets/css/common.css")
	body
		div#container.container
			block container

			div#footer
				p &copy;Copyright 2015 上海音乐学院 沪ICP备14016376号