extends ./common/layout.jade

block container
	div#index
		div.nav
			a(href="call_cn.html")
				img(src="assets/img/call_cn@2x.png",width=250,height=73)

			a(href="call_en.html")
				img(src="assets/img/call_en@2x.png",width=250,height=73)